* {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
}
ul li {
  display: inline;
  text-decoration: none;
  margin-right: 30px;
  border-radius: 20px;
  background-color: #4f5bb1;
  padding: 10px;
}
ul li a {
  text-decoration: none;
  color: #fff308;
  padding: 20px;
}
ul {
  margin-top: 20px;
  margin-bottom: 30px;
}
h1 {
  color: #00b391;
  margin-bottom: 20px;
}
h2 {
  color: #f083c7;
  margin-bottom: 40px;
}
