* {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
}
h2 {
  margin-bottom: 20px;
  color: #f85f78;
}
input[type="number"] {
  border-radius: 5px;
  border: 2px solid #00b391;
  width: 50%;
  padding: 10px;
  margin: 10px;
}
.sec {
  margin-bottom: 10px;
  color: #fff308;
  background-color: #4f5bb1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  border: 0.5px solid white;
  margin-right: 20px;
}
.add {
  margin-bottom: 10px;
  color: #fff308;
  background-color: #4f5bb1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  border: 0.5px solid white;
  margin-right: 20px;
}
.del {
  color: #f85f78;
  background-color: wheat;
  border-radius: 5px;
  border: 0.5px solid white;
  margin-left: 20px;
}
